.navigation {
&__checkbox {
    display: none;
}
&__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;

    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(0,0,0, .1);
    z-index: 1501;
    text-align: center;
    cursor: pointer;

    @include respond(phone) {
        top: 4rem;
        right: 4rem;
	}
    @include respond(avr-phone) {
        top: 3rem;
        right: 3rem;
	}
}
&__background {
    position: fixed;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-dark, $color-primary-light);
    z-index: 1000;
    transform: scale(0);
    transition: all .6s cubic-bezier(0.83, 0, 0.17, 1);
}
&__nav {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 1500;
    
    width: 0;
    opacity: 0;
    transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    visibility: hidden;
}
&__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
&__item {
    margin: 1rem;
}
&__link {
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%,#fff 50%, #fff 100%);
    background-size: 220%;
    transition: all .4s;

    &:hover, &:active {
        // background-size: 10%;
        background-position: 100%;
        color: $color-primary;
        transform: translateX(1rem);
    }
    span {
        display: inline-block;
        margin-right: 1.5rem;
    }
    }

    // Functionality
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }
    &__checkbox:checked ~ &__nav {
        width: 100vw;
        opacity: 1;
        visibility:visible;
    }
    // icon
    &__icon {
        margin-top: 3.35rem;
        &, &::before, &::after {
            position: relative;
            width: 3rem;
            height: 2px;
            background-color: #333;
            display: inline-block;
        }
        &::before, &::after { 
            content: '';
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before{
            top: -.8rem;
        }
        &::after {
            bottom: -.8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }
    &__checkbox:checked ~ &__button &__icon {
        background-color: transparent;
    }
    &__checkbox:checked ~ &__button &__icon::before {
        top: 0;
        transform: rotate(225deg);
    }
    &__checkbox:checked ~ &__button &__icon::after {
        top: 0;
        transform: rotate(-225deg);
    }
}