%btn-style {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 100px;
    display: inline-block;
    transition: all .125s;
    position: relative;
}

.btn {
    &:link,&:visited,& {
        @extend %btn-style;
    }
    & {
        border: 0;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, 0.075);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, 0.05);
    }
    &--white {
        background-color: #fff;
        color: $color-grey-dark;
        margin-top: 6rem;
        &::after {
            background-color: #fff;
            transition: all .4s;
        }
    }
    &--green {
        background-color: $color-primary;
        color: #fff;
        margin-top: 6rem;
        &::after {
            background-color: $color-primary;;
            transition: all .4s;
        }
    }
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: all .4s;
    }
    &--animated {
        animation: btnInUp .5s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link, &:visited {
        // font-size: $defoult-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }
        &:hover{
        background-color: $color-primary;
        color: #fff;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }

    @include respond(tab) {
        margin-bottom: 8rem;
	}

}

.form__group .btn--green {
    margin-top: 1.5rem;
}